<nav class="cover-navigation navigation--social">
    <ul class="navigation">

        <!--        {% if site.social.github %}-->
        <!--        &lt;!&ndash; Github &ndash;&gt;-->
        <!--        <li class="navigation__item">-->
        <!--            <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} Github"-->
        <!--               target="_blank">-->
        <!--                <i class='social fa fa-github'></i>-->
        <!--                <span class="label">Github</span>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        {% endif %}-->
        <!--        -->

        <!--        {% if site.social.mail %}-->
        <!--        &lt;!&ndash; Email &ndash;&gt;-->
        <!--        <li class="navigation__item">-->
        <!--            <a href="mailto:{{site.social.mail}}" title="Contact me">-->
        <!--                <i class='social fa fa-envelope'></i>-->
        <!--                <span class="label">Email</span>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        {% endif %}-->

    </ul>
</nav>