---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#main {
    counter-reset: captions;
    @include container;
    @include clearfix;
    clear: both;
    margin-top: 1em;
    article {
        @include container;
        @include grid(12,10);
        @include prefix(12,1);
        @include suffix(12,1);
        margin-bottom: 2em;
        @media #{$small} {
            @include grid(12,6);
            @include prefix(12,0);
            @include suffix(12,0);
        }
        @media #{$x-large} {
            @include grid(12,4.5);
        }
    }
}
